{% extends 'baseFront.html.twig' %}
{% block formetud%}

{% endblock %}

{% block body %}
    <div>
        <img src="https://www.unibetcommunity.com/t5/image/serverpage/image-id/36534iDF6C0A53EEB99C50/image-size/medium?v=1.0&px=400"
             alt="Cheetah!"  style="margin: -46% 0% 0% 53%; height: 350px;"/>
        <h4 style="font-family:Open Sans; color: #0E4984; font-size: 35px;margin: -16% 0% 0% 56%;">Thank You {{ firstName }} {{ lastName }}!</h4>
        <h6 style="font-family:Open Sans; color: #0E4984; font-size: 15px;margin: 1% 0% 0% 61%;">Your submission has been recieved.</h6>
    </div>
{% block cloud1 %}
{% endblock %}
{% endblock %}

{% block joinspark %}

{% endblock %}