{% extends 'base.html.twig'%}
{% block body %}



    <div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Events</h3>

    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Student Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>All Clubs Data</h3>
                </div>

            </div>




                <form class="new-added-form" method="POST">

                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Name *</label>

                            <div class="invalid-feedback">

                            </div>

                        </div>

                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Members *</label>

                                <div class="invalid-feedback">

                                </div>

                        </div>

                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Type Of Activity *</label>

                                <div class="invalid-feedback">
                                </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label> Budget *</label>

                                <div class="invalid-feedback">

                                </div>

                        </div>


                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label> Date Of Creation *</label>
                            <i class="far fa-calendar-alt"></i>

                                <div class="invalid-feedback">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                        </div>
                                            <br>
                    </div>
            </form>


            <section class="content-header">
                <div class="container">
                    <div class="row">



                    </div>
                </div>
            </section>

            <!-- Student Table Area End Here -->
            <footer class="footer-wrap-layout1">
                <div class="copyright">© Copyrights <a href="#">SparkIT</a> 2020. All rights reserved</div>
            </footer>
        </div>
    </div>
    <!-- Page Area End Here -->
</div>


{% endblock  %}

